deepspeed==0.10.0
ogb==1.3.6
rdkit-pypi==2021.9.3
rdkit==2023.3.3
torch-tb-profiler
tensorboard
numba
Cython==0.29.32
torchvision==0.16.0
torcheval
networkx
lmdb
mlflow
azureml-mlflow
wandb
loguru
transformers==4.34.0
peft
sentencepiece
sacremoses
mendeleev
biopython
dm-tree
torch @ https://download.pytorch.org/whl/cu118/torch-2.1.0%2Bcu118-cp39-cp39-linux_x86_64.whl#sha256=8ecf52ba49cfd3b7303d4e57e7b5c2106b77dbc9bdeaf880870162138bc70e18
#torch @ https://download.pytorch.org/whl/cu121/torch-2.1.0%2Bcu121-cp39-cp39-linux_x86_64.whl
